/* HEADER BAR FIXED */

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 65px;
    background-color: #f8f9fa;
}

.img-logo-mobile{
    height: 50px;
}

.img-logo-desktop{
    height: 30px;
}

.search-bar{
    height: 100%;
}

.search-bar input{
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: #e5e5e5;
    width: 100%;
}

.header-right ul{
    list-style-type: none;
    gap: 15px;
    padding: 10px 10px 0 0;
}

#bell-btn{
    color: #ff8f00;
}


/* MAIN */

.wrapper{
    padding-top: 65px;
}


/* LEFT SIDE - LATERAL BAR*/

aside{
    background-color: #051e34;
    height: calc(100vh - 65px);
    width: 50px;
}

aside a{
    color: #ffffff;
}

.sidebar{
    height: 100%;
    padding: 20px 10px;
}

.sidebar-up, .sidebar-down{
    text-align: center;
}

.btn-sidebar:hover{
    background-color: #ffffff7e;
}

.btn-sidebar a:hover{
    color: #ffffff;
}



/* RIGHT SIDE - CONTENT */